- each comment in comments
  .comment
    = comment.user.name
    |  :&nbsp;
    = comment.body
    br
    .muted= formatDate(comment.createdAt)
      | &nbsp;&nbsp;
      a(data-target="#replyModal", data-toggle="modal") Reply
    form#replyModal.modal.fade(method="post", action="/articles/#{article._id}/comments/#{comment.id}")
      .modal-header
        button(type="button", class="close", data-dismiss="modal", aria-hidden="true") &times;
        h4 Reply to #{comment.user.name}'s comment
      .modal-body
        input(type='hidden', name='_csrf', value="#{csrf_token}")
        .control-group
          .controls
            textarea.input-comment(type='text', rows="6", name="body", placeholder='Add your comment')
      .modal-footer
        button.btn.btn-primary(type="submit") Save
        a.btn(href="#", data-dismiss="modal") Close