- each comment in comments
  div(class="comment-lv#{comment.level}")
    b= comment.user.username
    |  :&nbsp;
    = comment.body
    br
    .muted= formatDate(comment.createdAt)
      | &nbsp;&nbsp;
      - if(comment.level < 2)
        a(data-target="#replyModal_#{comment.slug}", data-toggle="modal") Reply
        form.modal.fade(id="replyModal_#{comment.slug}", method="post", action="/articles/#{article._id}/comments/#{comment.slug}")
          .modal-header
            button(type="button", class="close", data-dismiss="modal", aria-hidden="true") &times;
            h4 Reply
          .modal-body
            input(type='hidden', name='_csrf', value="#{csrf_token}")
            .control-group
              .controls
                textarea.input-comment(type='text', rows="6", name="body", placeholder='Add your comment')
          .modal-footer
            button.btn.btn-primary(type="submit") Save
            a.btn(href="#", data-dismiss="modal") Close